{% extends "/templates/main_template.twig" %}


{% block titleText %}{{ article.getTitle }} - {% endblock %}

{% block bodyClass %}small-header{% endblock %}

{% block headerBannerContent %}
    <div class="header-banner-title">{{ blog.getBlogName }}</div>
{% endblock %}

{% block content %}

    {% if article is defined %}
        <div class="article">
            <h2 class="article-title">{{ article.getTitle }}</h2>
            {% if article.getPathFeaturedImage() is not empty %}
                <img class="article-banner-image" src="{{ article.getPathFeaturedImage() }}" alt="Header-Image">
            {% endif %}
            <p class="article-meta">


            {% if  blog.getIDUser == session.id %}
              <a href="edit_article.php?id={{ article.getID }}" >Rediger Artikkelen</a> | <a href="#" onClick="confirmDeleteArticle()">Slett Artikkelen</a><br><br>
            {% endif %}

            <i class="far fa-user"></i> <b>Skrevet av:</b> {{ article.getAuthor }}<br><br>
            <i class="fas fa-pencil-alt"></i> <b>Publisert:</b> {{ article.getTimeCreated }}
            {% if article.getTimeCreated != article.getLastEdited %}
                  |  <b>Sist redigert:</b> {{ article.getLastEdited }}
            {% endif %} <br><br><i class="fas fa-eye"></i> <b>Antall visninger:</b> {{ article.getCounter }}
            {% if articleTags  %}
                <br><br><b>Stikkord:</b>
                {% for tag in articleTags %}
                    <a href='index.php?tag={{ tag.getId }}'>#{{ tag.getTag }} </a>
                {% endfor %}
            {% else %}
                <br><br><i class="fas fa-tags"></i> <b>Artikkelen har ingen stikkord</b>
            {% endif %}



            </p>
            <div class="article-content">{{ article.getContent|raw }}</div>
            <div class="article-attachments">
                {% if attachments %}
                    <p><b>Vedlegg:</b></p>
                    {% for attachment in attachments %}
                        <p><a href="article.php?id={{ article.getId }}&idAttachment={{ attachment.getId }}" download><i class="fas fa-download"></i> {{ attachment.getFilename }}</a></p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="article-comments">
                <h2>Kommentarer:</h2>

                {%  if comments is empty %}
                    <p>Ingen har kommentert artikkelen enda. Blir du den første?</p>
                {% endif %}
                {% for comment in comments %}

                    {% for user in users %}
                        {% if user.getId == comment.getIdUser%}
                            <div class="comment">
                                {% if user.getPathUserImage is not empty %}
                                    <img class="user-image" src="{{ user.getPathUserImage }}" alt="Profilbilde">
                                {% else %}
                                    <img class="user-image" src="./images/standard_user_image.png" alt="Profilbilde">
                                {% endif %}
                                <p><b>{{ user.getFirstname }} {{ user.getLastname }}</b><br>{{ comment.getTimeCreated }}
                                    {% if comment.getIdUser == session.id or blog.getIDUser == session.id %}
                                        <a href="#" onclick="confirmDeleteComment({{ comment.getId }})">Slett kommentar</a>
                                    {% endif %}
                                </p>
                                <p>{{ comment.getComment }}</p>
                                <p>
                                    <a href="?id={{ article.getId|raw }}&replyTo={{ comment.getId }}#newcomment"><i class="fas fa-reply"></i> Svar på kommentaren</a>
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for subComment in subComments %}
                        {% if subComment.getidComment == comment.getId %}
                            {% for user in users %}
                                {% if user.getId == subComment.getIdUser %}
                                    <div class="sub-comment">
                                        {% if user.getPathUserImage is not empty %}
                                            <img class="user-image" src="{{ user.getPathUserImage }}" alt="Profilbilde">
                                        {% else %}
                                            <img class="user-image" src="./images/standard_user_image.png" alt="Profilbilde">
                                        {% endif %}
                                        <p><b>{{ user.getFirstname }} {{ user.getLastname }}</b><br>{{ subComment.getTimeCreated }}

                                        {% if subComment.getIdUser == session.id or blog.getIDUser == session.id %}
                                        <a href="#" onclick="confirmDeleteSubComment({{ subComment.getId }})">Slett kommentar</a>
                                        {% endif %}

                                        </p>
                                        <p>{{ subComment.getComment }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        {% endif  %}
                    {% endfor %}
                {% endfor %}

                {% if allowNewComment is defined %}
                    {% if allowNewComment %}
                        <div id ="newcomment" class="create_comment-form">
                            <br><br>
                        <form action="" method="post" enctype="multipart/form-data">

                        {% if replyTo is defined %}
                            {% for user in users %}
                                {% if user.getId == replyTo.getIdUser %}
                                    <h2>Svarer {{ user.getFirstname }} {{ user.getLastname }}'s kommentar</h2>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h2>Skriv en kommentar</h2>
                        {% endif %}


                            <div class="form-element">
                                <textarea class="form-field-long" name="comment" placeholder="Skriv her"></textarea>
                            </div>
                            <div class="form-element">
                                <button type="submit" class="form-button" name="submit" value="submit">Legg inn kommentar</button>
                            </div>
                        </form>
                       {% if message is defined %}
                             <p>{{ message }}</p>
                        {% endif %}

                    {% endif %}
                {% endif %}
            </div>

        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        var pathBannerImage = "{{ blog.getPathBannerImage }}";
        if (pathBannerImage.length > 0) {
            document.getElementsByClassName('header-banner')[0].style.background="url({{ blog.getPathBannerImage }}) center top / cover fixed";
        }

        function confirmDeleteArticle() {
            if (confirm("Er du sikker på at du vil slette denne artikkelen?")){
                window.location = "delete_article.php?id={{ article.getID }}";
            }
        }
        function confirmDeleteSubComment(comment) {
            if (confirm("Er du sikker på at du vil slette denne kommentaren?")){
                window.location = "delete_subcomment.php?id="+ comment;
            }
        }
        function confirmDeleteComment(comment) {
            if (confirm("Er du sikker på at du vil slette denne kommentaren?")){
                window.location = "delete_comment.php?id="+comment;
            }
        }
    </script>
{% endblock %}