{% extends "/templates/main_template.twig" %}

{% block titleText %}Endre artikkel - {% endblock %}
{% block bodyClass %}none-header{% endblock %}
{% block content %}
    <h2 class="default-title">Endre artikkel</h2>

    <div class="new_tag-form">
        <form action="" method="post">
            <div class="form-element">
                <input type="text" class="form-field" name="tag" placeholder="Nytt stikkord" autocomplete="off" required="required">
            </div>
            <div class="form-element">
                <button type="submit" class="tag-form-button" name="tag-submit" value="tag-submit">
                    Opprett nytt stikkord
                </button>
            </div>
        </form>
    </div>

    <div class="new_article-form">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-element">
                {% if blogTags %}
                    {% for blogTag in blogTags %}
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="appliedTags" name="appliedTags[]" value="{{ blogTag.getId }}"
                            {% for articleTag in articleTags %}
                                {% if blogTag.getId == articleTag.getId %}checked{% endif %}
                            {% endfor %}>
                            <label for="appliedTags">{{ blogTag.getTag }}</label>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="checkbox-wrapper">
                        <p style="margin: 0;">Du har ikke opprettet noen stikkord ennå</p>
                    </div>
                {% endif %}

            </div>
            <div class="form-element">
                <input type="text" class="form-field" name="title" placeholder="Tittel" autocomplete="off" required="required" value="{{ article.getTitle }}">
            </div>
            <div class="form-element">
                <textarea class="form-field-long" id="article-content" name="content" placeholder="Innhold">{{ article.getContent }}</textarea>
            </div>
            <div class="form-element text-align-left">
                <label for="image">Nytt fremhevet bilde: </label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="form-element text-align-left">
                <label for="image">Legg til nye vedlegg: </label>
                <input type="file" id="files" name="files[]" multiple>
            </div>
            <div class="form-element">
                <button type="submit" class="form-button" name="submit" value="submit">Publiser endringer</button>
            </div>
        </form>
        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="./textboxio/textboxio.js"></script>
    <script>
        var config = {
            codeview: {
                enabled : false // Disables code view feature, default is true (enabled)
            },
            ui : {
                toolbar :  {
                    items : [ 'undo', 'insert', 'emphasis', 'align', 'listindent', 'tools' ]
                }
            }
        };
        var textareaEditor = textboxio.replace('#article-content', config);
    </script>
{% endblock %}