{% extends "/templates/main_template.twig" %}

{% block titleText %}Endre bruker - {% endblock %}
{% block bodyClass %}none-header{% endblock %}
{% block content %}
    <div class="edit_blog-form">
        <form action="" method="post" enctype="multipart/form-data">
            <h2>Endre brukerdetaljer</h2>
            <div class="form-element">
                <label for="firstname">Fornavn:</label>
                <input type="text" class="form-field" id="firstname" name="firstname" value="{{ user.getFirstname }}" required="required">
            </div>
            <div class="form-element">
                <label for="lastname">Etternavn:</label>
                <input type="text" class="form-field" id="lastname" name="lastname" value="{{ user.getLastname }}" required="required">
            </div>
            <div class="form-element float-left text-align-left small-padding-top_and_bottom">
                <label for="image">Last opp nytt profilbilde:</label>
                <input type="file" id="image" name="image">
            </div>
            <div class="form-element">
                <button type="submit" class="form-button" name="submit" value="submit">Lagre endringer</button>
            </div>
        </form>
    </div>

    <div class="edit_blog-form">
        <form action="" method="post" enctype="multipart/form-data">
            <h2>Endre passord</h2>
            <div class="form-element">
                <label for="lastname">Gammelt passord:</label>
                <input type="password" class="form-field" id="lastname" name="oldPassword" value="" required="required">
            </div>
            <div class="form-element">
                <label for="lastname">Nytt passord:</label>
                <input type="password" class="form-field" id="lastname" name="newPassword1" value="" required="required">
            </div>
            <div class="form-element">
                <label for="lastname">Gjenta nytt passord:</label>
                <input type="password" class="form-field" id="lastname" name="newPassword2" value="" required="required">
            </div>
            <div class="form-element">
                <button type="submit" class="form-button" name="submitPassword" value="submitPassword">Endre passord</button>
            </div>
        </form>
        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}