{% extends "/templates/main_template.twig" %}

{% block titleText %}Blogg innstilinger - {% endblock %}

{% block bodyClass %}none-header{% endblock %}

{% block content %}

    {% if owner %}

        <div class="edit_blog-form">
            <form action="" method="post" enctype="multipart/form-data">
                <h2>Rediger Blogg</h2>
                <div class="form-element">
                    <label for="blogName">Bloggnavn:</label>
                    <input type="text" class="form-field" id="blogName" name="blogName" value="{{ blog.getBlogName }}" required="required">
                </div>
                <div class="form-element">
                    <label for="about">Om bloggen:</label>
                    <textarea class="form-field-long" id="about" name="about">{{ blog.getAbout }}</textarea>
                </div>
                <div class="form-element text-align-left">
                    <label for="image" class="label-image">Bloggens forsidebilde: </label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-element">
                    <button type="submit" class="form-button" name="submit" value="submit">Lagre endringer</button>
                </div>
                {% if message is defined %}
                    <p>{{ message }}</p>
                {% endif %}
            </form>
        </div>










    {% else %}
        <p>Du er ikke admin for denne bloggen.</p>
    {% endif %}

{% endblock %}