{% extends "/templates/main_template.twig" %}

{% block titleText %}{% endblock %}

{% block content %}
    {%  if articles is empty %}
        <p>Det var ingen artikler å finne desverre.</p>
    {% endif %}
    {% for article in articles %}
        <div class="article">
            <h2 class="article-title"><a href="article.php?id={{ article.getId }}">{{ article.getTitle }}</a></h2>
            {% if article.getPathFeaturedImage() is not empty %}
                <img class="article-banner-image" src="{{ article.getPathFeaturedImage() }}" alt="Header-Image">
            {% endif %}

            <p class="article-meta">
                <i class="fas fa-pencil-alt"></i> <b>Publisert:</b> {{ article.getTimeCreated }}
                {% if article.getTimeCreated != article.getLastEdited %}
                     | <b>Sist redigert:</b> {{ article.getLastEdited }}
                {% endif %} <br><br><i class="fas fa-eye"></i> <b>Antall visninger:</b> {{ article.getCounter }}

            </p>
            <p class="article-comments-meta">
                {% if article.getCommentCounter == 0 %}
                    <i class="fas fa-comment"></i> <b>Ingen kommentarer</b>
                {% else %}
                    <i class="fas fa-comment"></i> <b>Antall kommentarer:</b> {{ article.getCommentCounter }}
                {% endif %}
            </p>
            <div class="article-content">{{ article.getContent|raw }}</div>

        </div>
    {% endfor %}

{% endblock %}