{% extends "/templates/main_template.twig" %}

{% block titleText %}Logg inn - {% endblock %}

{% block bodyClass %}none-header{% endblock %}

{% block content %}
    <div class="login-form">
        <form action="" method="post">
            <h2>Logg inn</h2>
            <div class="form-element">
                <input type="text" class="form-field" name="email" placeholder="Epost" required="required">
            </div>
            <div class="form-element">
                <input type="password" class="form-field" name="password" placeholder="Passord" required="required">
            </div>
            <div class="form-element">
                <button type="submit" class="form-button" name ="submitLogin">Logg inn</button>
            </div>
        </form>
        {% if tryAgain %}
            <p style ="color:red">Feil brukernavn eller passord!</p>
        {%  endif %}
        {% if notVerified %}
            <p style ="color:red">Kontoen din er ikke verifisert.<br>
                Vennligst sjekk din e-post. </p>
        {% endif %}
        <p><a href="register.php">Opprett en bruker</a></p>
    </div>
{% endblock %}