{% extends "/templates/main_template.twig" %}

{% block titleText %}Logg ut - {% endblock %}

{% block bodyClass %}none-header{% endblock %}

{% block content %}
    <h2 style="text-align: center; color: green;">Du er nå logget ut!</h2>
    <p id="countdown" style="text-align: center">Du blir sendt videre om 3 sekunder.</p>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            window.setTimeout(function(){
                window.location.href = "./";
            }, 3000);

            var counter = 3;
            setInterval(function(){
                document.getElementById("countdown").innerText = 'Du blir sendt videre om ' + counter.toString() + ' sekunder.';
                counter--;
            }, 1000);
        });
    </script>
{% endblock %}