<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titleText %}{% endblock %}G5 BLOGGER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="./styles/style.css" rel="stylesheet" type="text/css">
    <link href="./styles/fontawesome-all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="./js/smooth-scroll.js"></script>
</head>
<body class="{% block bodyClass %}{% endblock %}">
<header class="header">
    <div class="header-title-wrapper" onclick="window.location='./'">
        <img class="logo" src="./images/logo.svg" alt="G5 Blogger logo" onerror="this.onerror=null; this.src='./images/logo.png'">
        <div class="header-title">G5 BLOGGER</div>
    </div>
    <nav class="main-navigation">
        {% block navigation %}
            <ul>
                <li>
                    <div class="searchform-wrapper">
                        <form class="searchform" action="index.php" method="GET">
                            <input type="search" name="keywords" placeholder="Søk i arkivet" autocomplete="off">
                            <button class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="#">Arkiv <i class="fa fa-angle-down"></i></a>
                    <ul>
                        {% for monthAndYear in monthsAndYears %}
                            <li>
                                <a href="archive.php?month={{ monthAndYear.month }}&year={{ monthAndYear.year }}">
                                    {{ date('0000-' ~ monthAndYear.month ~ '-01') | date('F') }} {{ monthAndYear.year }} | <i class="far fa-newspaper"></i> {{ monthAndYear.counter }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Stikkord <i class="fa fa-angle-down"></i></a>
                    <ul>
                        {% for tag in allTags %}
                            <li><a href="tags.php?tag={{ tag.getId }}">{{ tag.getTag }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#">Blogger <i class="fa fa-angle-down"></i></a>
                    <ul>
                        {% for blog in blogs %}
                            <li><a href="blog.php?id={{ blog.getId }}">{{ blog.getBlogName }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if session.loggedIn %}
                    <li>
                        {% if session.pathUserImage is not empty %}
                            <img class="user-image" src="{{ session.pathUserImage }}" alt="Profilbilde">
                        {% else %}
                            <img class="user-image" src="./images/standard_user_image.png" alt="Profilbilde">
                        {% endif %}
                        <ul>
                                {% if session.userHasBlog %}
                                    <li><a href="new_article.php">Opprett artikkel</a></li>
                                    <li><a href="edit_blog.php">Rediger blogg</a></li>
                                {% else  %}
                                    <li><a href="new_blog.php">Opprett blogg</a></li>
                                {% endif %}
                            <li><a href="edit_user.php">Min side</a></li>
                            <li><a href="logout.php">Logg ut</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li><a href="register.php" class="nav-register-button">Registrer</a></li>
                    <li><a href="login.php" class="nav-login-button">Logg inn</a></li>
                {% endif %}
            </ul>
        {% endblock %}
    </nav>
    <button class="toggle-nav">
        <i class="fa fa-bars"></i>
    </button>
</header>


<section class="header-banner">
    <div class="header-background-layer"></div>
    <div class="header-banner-wrapper">
        {% block headerBannerContent %}
        <img class="header-banner-logo" src="./images/logo.svg" alt="G5 Blogger logo" onerror="this.onerror=null; this.src='./images/logo.png'">
        <div class="header-banner-title">G5<br>BLOGGER</div>
        {% endblock %}
    </div>
    <a href="#content-anchor" class="header-arrow-down"><i class="fa fa-angle-down"></i></a>
    <div id="content-anchor"></div>
</section>


<main class="content">
    <div class="content-wrapper">
    {% block content %}

    {% endblock %}
    </div>
</main>


<div class="footer">
    {% block footer %}
        <p>Utviklet av:</p>
        <p>Fredrik Bentzen, Peter Schjem og Lene Anita Tangstad<br>
            gjennom et prosjekt ved UiT - Norges Arktiske Universitet,<br>avdeling Bodø</p>
        <p>&copy; <a href="./">G5 BLOGGER</a></p>
    {% endblock %}
</div>
<script>
    $( '.toggle-nav' ).click(function() {
        $( 'body' ).toggleClass( 'show-nav' );
    } );
</script>
{% block script %}{% endblock %}
</body>
</html>