{% extends "/templates/main_template.twig" %}

{% block titleText %}Opprett blogg - {% endblock %}
{% block bodyClass %}none-header{% endblock %}
{% block content %}
    <div class="new_blog-form">
        <form action="" method="post" enctype="multipart/form-data">
            <h2>Opprett en Blogg</h2>
            <div class="form-element">
                <input type="text" class="form-field" name="blogName" placeholder="Bloggnavn" required="required">
            </div>
            <div class="form-element">
                <textarea class="form-field-long" name="about" placeholder="Om bloggen"></textarea>
            </div>
            <div class="form-element">
                <input type="file" name="image" accept="image/*">
            </div>
            <div class="form-element">
                <button type="submit" class="form-button" name="submit" value="submit">Opprett ny blogg</button>
            </div>
        </form>
        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}