{% extends "/templates/main_template.twig" %}

{% block titleText %}Registrering - {% endblock %}

{% block bodyClass %}none-header{% endblock %}

{% block content %}

    {% if success == true %}
        <h3 style="text-align: center">Det har blitt sendt en verfifiseringskode til din e-postadresse.<br>
            Du må trykke på linken i eposten for å aktivere din konto.</h3><br>
    {% else %}
        <div class="register-form">
            <form action="" method="post">
                <h2>Opprett en bruker</h2>
                <div class="form-element">
                    <input type="text" class="form-field" name="firstname" placeholder="Fornavn" required="required">
                </div>
                <div class="form-element">
                    <input type="text" class="form-field" name="lastname" placeholder="Etternavn" required="required">
                </div>
                <div class="form-element">
                    <input type="text" class="form-field" name="email" placeholder="Epost" required="required">
                </div>
                <div class="form-element">
                    <input type="password" id="password" class="form-field" name="password" placeholder="Passord" required="required">
                </div>
                <div class="form-element">
                    <input type="password" id="confirm_password" class="form-field" name="confirm_password" placeholder="Gjenta passord" required="required">
                </div>
                <div class="form-element">
                    <button type="submit" class="form-button" name="submit" value="submit">Registrer</button>
                </div>
            </form>
        </div>

        {% block script %}
            <script>
                var password = document.getElementById("password")
                    , confirm_password = document.getElementById("confirm_password");

                function validatePassword(){
                    if(password.value === confirm_password.value) {
                        confirm_password.setCustomValidity('');
                    } else {
                        confirm_password.setCustomValidity("Passordene er ikke like");
                    }
                }
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
            </script>
        {% endblock %}

    {% endif %}

{% endblock %}