{% extends "/templates/main_template.twig" %}

{% block titleText %}Verifisering - {% endblock %}

{% block bodyClass %}none-header{% endblock %}

{% block content %}
    <h2 style="text-align: center; color: green;">Brukerkontoen er nå verifisert!</h2>
    <p id="countdown" style="text-align: center">Du blir sendt videre om 5 sekunder.</p>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            window.setTimeout(function(){
                window.location.href = "./";
            }, 5000);

            var counter = 5;
            setInterval(function(){
                document.getElementById("countdown").innerText = 'Du blir sendt videre om ' + counter.toString() + ' sekunder.';
                counter--;
            }, 1000);
        });
    </script>
{% endblock %}