html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #222;
    margin: 0;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.text-align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.small-padding-top_and_bottom {
    padding: 1em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

a {
    color: lightblue;
    text-decoration: none !important;
    transition: color .25s;
}

a:hover {
    color: deepskyblue;
}

.header-title-wrapper {
    height: 50px;
    width: auto;
    cursor: pointer;
    float: left;
}

.header-title-wrapper:hover {
    color: #555555;
}

.header-title {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    float: left;
    line-height: 5rem;
    margin: 0 0 0 1rem;
}

.header {
    max-height: 50px;
    background: #222;
    color: #fff;
    display: inline-block;
    line-height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header .logo {
    display: block;
    float: left;
    max-height: 100%;
    padding: 1rem 0 1rem 2rem;
}

.header a {
    color: #fff;
}

.header a:hover {
    color: #555555;
}

.nav-login-button, .nav-register-button {
    color: dodgerblue !important;
}

.nav-login-button:hover, .nav-register-button:hover {
    color: #555555 !important;
}

nav .user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

nav .user-image:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
}

.main-navigation {
    float: right;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    margin: 0 2rem 0 0;
    text-transform: uppercase;
}

.main-navigation ul li {
    float: left;
    list-style: none;
    position: relative;
    text-align: right;
}

.main-navigation ul li + li {
    margin: 0 0 0 2rem;
    text-align: right;
}

.main-navigation ul {
    margin: 0 2rem 0 0;
    right: 0;
    padding: 0;
    position: absolute;
}

.main-navigation ul ul {
    background: #1e1e1e;
    display: none;
    right: -40px;
    line-height: 1;
    max-height: 24rem;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    padding: 2rem;
}

.main-navigation ul li li {
    float: none;
    display: block;
    padding: .5rem 0;
    min-width: 24rem;
    text-align: right;
}

.main-navigation ul li li a {
    display: inline-block;
    padding: 1rem 0;
    width: 100%;
}

.main-navigation ul ul li + li {
    margin: 0;
}

.main-navigation ul li:hover > ul {
    display: block;
}

.main-navigation ul .searchform-wrapper {
    float: left;
    margin: 0 0 0 2rem;
    display: block;
    max-height: 50px;
    position: relative;
}

.checkbox-wrapper {
    display: inline-block;
    float: left;
    padding: 0 1em 0 0;
}

.searchform-wrapper input[type="search"], .searchform-wrapper input[type="search"]::placeholder {
    font-size: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    color: #3B3B3B;
    border: none;
    background: none;
    border-bottom: 1px #3B3B3B solid;
}

.searchform-wrapper input[type="search"]:focus {
    outline: none;
    color: #fff;
    border-color: #fff;
}

/*Hide placeholder on focus. Rob Fletcher on stackoverflow.com*/
input[type="search"]:focus::-webkit-input-placeholder { color:transparent; }
input[type="search"]:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input[type="search"]:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input[type="search"]:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.search-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.toggle-nav {
    color: #fff;
    cursor: pointer;
    display: none;
    line-height: 4.4rem;
    position: absolute;
    right: 2rem;
    top: 0;
    background: none;
    border: none;
}

.toggle-nav:hover {
    color: #c7c7c7;
}

.toggle-nav i {
    font-size: 2.5rem;
    line-height: 5rem;
}

@media screen and (max-width: 1000px) {
    .toggle-nav {
        display: block;
    }

    .main-navigation {
        display: none;
    }

    .main-navigation ul ul {
        position: relative;
    }

    .main-navigation ul li + li {
        float: right;
    }

    .show-nav .main-navigation {
        display: block;
        float: none;
        width: 100%;
        overflow-y: auto;
        height: calc(100vh);
        background: #222222;
    }

    .show-nav .main-navigation ul li {
        clear: both;
    }

    .main-navigation ul li {
        float: right;
        list-style: none;
        position: relative;
        text-align: right;
    }

}

.header-banner {
    background: url(../images/header.jpg) center top / cover fixed;
    height: 100vh;
    margin: 0;
    position: relative;
    width: 100vw;
}

.small-header .header-banner {
    height: 40vh;
}

.none-header .header-banner {
    display: none;
}

.none-header .content {
    top: 50px;
}

.header-background-layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    overflow-x: hidden;
}

.header-banner-wrapper {
    left: 50%;
    color: #fff;
    margin: 0;
    padding: 0 2rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.header-banner-title {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    padding-top: 10px;
    margin: 0 0 2rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0, 0.5);
}

.header-banner-logo {
    max-height: 10rem;
}

.header-banner-form {
    display: inline-grid;
    grid-row-gap: 10px;
}

.header-arrow-down {
    bottom: 2rem;
    color: #fff;
    font-size: 4rem;
    left: 50%;
    line-height: 1;
    position: absolute;
    transform: translateX(-50%);
}

.header-arrow-down:hover {
    color: #555555;
}

#content-anchor {
    height: 50px;
    margin-top: -50px;
    bottom: 0;
    position: absolute;
}

.content {
    background: #fff;
    position: relative;
    font-size: 17px;
/*    min-height: 500px; only for testing without any content */
}

.content-wrapper {
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
}

.about-blog {
    text-align: center;
    padding: 2em;
}

/* Grabbed from https://codepen.io/haibnu/pen/FxGsI, modified by Fredrik Bentzen */
.div-effect {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.content img {
    max-width: 100%;
}

.login-form, .register-form, .new_blog-form, .edit_blog-form, .edit_user-form, .create_comment-form, .new_article-form, .new_tag-form {
    text-align: center;
    line-height: 4rem;
    margin: 0 auto;
}

.edit_blog-form {
    margin-bottom: 2em;
}

input.form-field {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
}

textarea.form-field-long {
    font-family: 'Open Sans', sans-serif !important;
    width: 100%;
    height: 45rem;
    padding-left: 1rem;
    overflow-y: auto;
    resize: vertical;
}

button.form-button {
    width: 100%;
    height: 3rem;
    border: none;
    background: lightskyblue;
}

button.tag-form-button {
    display: block;
}

button.form-button:hover {
    background: deepskyblue;
}

.default-title {
    text-align: center;
}

.article {
    padding: 4rem 0;
    border-bottom: 1px solid #ececec;
}

.article:last-child {
    border-bottom: none;
}

img.article-banner-image {
    width: 100%;
}

.article a {
    color: #3b5998;
}

.article a:hover {
    color: #8b9dc3;
}

.article-title {
    font-size: 2em;
    text-align: center;
}

p.article-meta {
    text-align: center;
}

p.article-comments-meta {
    text-align: center;
}

.article-comments img.user-image {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 1rem;
    border-radius: 50%;
}

.article-content {
    padding: 3rem 0;
}
iframe {
    max-width: 100%;
}

.article-attachments {
    padding: 0 0 2em 0;
}

.comment {
    margin: 3rem 0 3rem 0;
}

.sub-comment {
    margin: 3rem 0 3rem 4rem;
    padding-left: 1rem;
    border-left: 1px solid #999999;
}

.share-facebook {
    margin: 0 auto;
    max-width: 300px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #3b5998;
    text-transform: uppercase;
}

.share-facebook:hover {
    background: #8b9dc3;
    cursor: pointer;
}

.share-facebook svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
    margin-right: 8px !important;
}

.footer {
    background: #222;
    font-size: 1.3rem;
    color: #c7c7c7;
    padding: 5rem 2rem;
    text-align: center;
    clear: both;
    line-height: 1.8em;
}
